/*root selector, contains variables*/
:root {
    --back-color: #111215;
    --box-color: #1a1b20;
    --nav-button-color: #202024;
    --text-color: #ffffff;
    --primary-color: #ff3366;
    --secondary-color: #0033ff;
    --primary-font: "Open Sans", sans-serif;
    --header-size: 60px;
}

/*body tag styles*/
body {
    background: linear-gradient(var(--back-color), #030507);
    color: var(--text-color);
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

/*section tag styles*/
section {
    min-height: 100vh;
    padding: 0px;
}

/*footer styles*/
footer {
    width: auto;
    font-size: 20px;
    font-family: var(--primary-font);
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    background-color: var(--nav-button-color);
}

/*header1 style (home only)*/
h1 {
    font-size: 40px;
    padding: 20px;
    margin: 50px;
    font-family: var(--primary-font);
    width: auto;
}

/*title (header1 on about, portfolio and contact pages) styles*/
.title {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}

/*header2 styles*/
h2 {
    font-size: 30px;
    margin: 40px;
    font-family: var(--primary-font);
}

/*paragraph styles*/
p {
    font-size: 20px;
    font-family: var(--primary-font);
    padding: 15px;
}

/*article styles*/
article {
    text-align: center;
    margin: 5%;
    padding: 50px 5% 50px 5%;
    margin: 120px 10% 50px 10%;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--box-color);
}

article ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    padding: 0;
}

article ul li .social {
    color: var(--text-color);
    background-color: var(--box-color);
    text-decoration: none;
    margin: 15px;
}

article .profile-pic {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

article .about-picture {
    width: 20%;
    padding: 5px;
}

article .showcase {
    width: 40%;
    padding: 5px;
}

article .website-showcase {
    padding-top: 50px;
    width: 80%;
}

article button {
    font-size: 120%;
    color: var(--text-color);
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    border: 0px;
    padding: .5vw;
    font-family: var(--primary-font);
}

article button:hover {
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    cursor: pointer;
}

/*form styles for contact form*/
.contact-form {
    border: var(--back-color);
    border-style: solid;
    border-width: 2px;
    background-color: var(--nav-button-color);
    margin: 0px 20% 50px 20%;
}

form {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    padding: 10px;
    text-align: left;
}

form input[type=text] {
    font-size: 16px;
    font-family: var(--primary-font);
    height: 30px;
    margin: 10px;
    background-color: var(--nav-button-color);
    color: var(--text-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

form input[type=submit] {
    font-size: 20px;
    font-family: var(--primary-font);
    color: var(--text-color);
    height: 40px;
    margin: 10px;
    border-width: 0;
    border-radius: 4px;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
}

form input[type=submit]:hover {
    font-family: var(--primary-font);
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    cursor: pointer;
}

form input:focus {
    outline: 0;
}

form #message {
    height: 100px;
}

textarea {
    font-size: 16px;
    font-family: var(--primary-font);
    height: 90px;
    width: auto;
    margin: 10px;
    background-color: var(--nav-button-color);
    color: var(--text-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

/*contact page map images styles*/
.map {
    height: 20vw;
    padding: 5px
}

/*table styles (used for spec tables)*/
table, th, td {
    font-size: 20px;
    font-family: var(--primary-font);
    background-color: var(--nav-button-color);
    border-color: var(--back-color);
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin: auto;
    padding: 5px;
}

th {
    width: 25%;
    color: var(--primary-color);
}

table ul {
    display: block;
}

/*divider line (the pink line on home page) styles*/
#divider-line {
    width: 80%;
    height: 1px;
    margin: auto;
    background: var(--primary-color);
}

/*navigator bar styles*/
nav {
    width: 100vw;
    height: var(--header-size);
    background-color: var(--box-color);
    margin: 0;
    position: fixed;
    top: 0;
}

nav ul {
    font-family: var(--primary-font);
    font-size: 20px;
    list-style-type: none;
    display: flex;
    margin: 0;
    /*MAGIC NUMBER DO NOT CHANGE*/
    padding-right: 72px;
    overflow: hidden;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    line-height: var(--header-size);
    color: var(--text-color);
    padding: 30px;
}

nav a:hover {
    color: var(--secondary-color);
    background-color: var(--nav-button-color);
}

nav a#active {
    color: var(--primary-color);
    background-color: var(--back-color);
}

/*hamburger menu styles*/
header button {
    display: none;
}

header button:hover {
    cursor: pointer;
}

/*website logo (pink and blue K) style*/
.logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    padding-left: 5px;
}

/*
media query for screen widths less than 1100px
I chose this number simply because my phone that I was using to test has a giant screen, and this was the next biggest number that looked nice.
*/
@media screen and (max-width: 1100px) {

    /*navigator bar styles*/
    nav {
        height: auto;
        position: fixed;
        inset: 0 0 0 50%;
        background: hsl(0, 0%, 0%, 0.75);
        backdrop-filter: blur(0.75rem);
        padding-top: 10vh;
        text-align: left;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        font-size: 4vw;
        padding: 0;
        font-weight: bolder;
    }

    nav li {
        padding-top: 4vh;
    }

    nav .logo {
        display: none;
    }

    .navigation {
        position: fixed;
        inset: 0 0 0 50%;
        height: auto;
        transform: translateX(0%);
        transition: transform 200ms ease-out;
    }

    .navigation[data-visible="false"] {
        transform: translateX(100%);
        transition: transform 200ms ease-out;
    }
    
    nav a:hover {
        color: var(--secondary-color);
        background-color: rgba(0, 0, 0, 0);
    }

    nav a#active {
        color: var(--primary-color);
        background-color: rgba(0, 0, 0, 0);
    }

    /*header 1 styles*/
    h1 {
        font-size: 8vw;
        margin: 40px;
        font-family: var(--primary-font);
    }
    
    /*header 2 styles*/
    h2 {
        font-size: 5vw;
        margin: 40px;
        font-family: var(--primary-font);
    }
    
    /*paragraph styles*/
    p {
        font-size: 4vw;
        font-family: var(--primary-font);
        padding: 15px;
    }

    /*table styles*/
    table, th, td {
        font-size: 4vw;
    }

    /*article styles*/
    article .flex-box {
        display: flex;
        flex-direction: column;
    }

    article .about-picture {
        width: 100%;
    }

    article .showcase {
        width: 100%;
    }

    article .profile-pic {
        width: 40%;
        height: auto;
        border-radius: 50%;
    }

    /*contact form styles*/
    .contact-form {
        border: var(--back-color);
        border-style: solid;
        border-width: 2px;
        background-color: var(--nav-button-color);
        margin: 0px 5% 50px 5%;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: left;
    }
    
    form input[type=text] {
        font-size: 2.5vw;
        font-family: var(--primary-font);
        height: 30px;
        margin: 10px;
        background-color: var(--nav-button-color);
        color: var(--text-color);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
    }
    
    form input[type=submit] {
        font-size: 3vw;
        font-family: var(--primary-font);
        color: var(--text-color);
        height: auto;
        margin: 10px;
        border-width: 0;
        border-radius: 4px;
        background: linear-gradient(var(--primary-color), var(--secondary-color));
    }

    /*contact map styles*/
    .map {
        height: 30vw;
    }

    /*hamburger menu styles*/
    button[mobile-expanded="false"] {
        .fa-xmark {
            display: none;
        }
        .fa-bars {
            display: block;
        }
    }

    button[mobile-expanded="true"] {
        .fa-xmark {
            display: block;
        }
        .fa-bars {
            display: none;
        }
    }

    .mobile-topnav-toggle {
        background-color: rgba(0, 0, 0, 0);
        display: block;
        border: none;
        position: absolute;
        z-index: 999;
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
}
/*
end of media query for screen widths less than 1100px
*/

/*
media query for screen widths greater than 1100px
*/
@media screen and (min-width: 1100px) {

    /*2x2 grid container styles*/
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .grid {
        width: auto;
        margin: 50px;
    }
}
/*
end of media query for screen widths greater than 1100px
*/