/*:root selector is globally scoped, convenient as container for variables*/
:root {
    --back-color: #111215;
    --box-color: #1a1b20;
    --nav-button-color: #202024;
    --text-color: #ffffff;
    --primary-color: #ff3366;
    --secondary-color: #0033ff;
    --primary-font: "Open Sans", sans-serif;
    --header-size: 60px;
}

body {
    background: linear-gradient(var(--back-color), #030507);
    color: var(--text-color);
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

section {
    min-height: 100vh;
    padding: 0px;
}

footer {
    width: auto;
    font-size: 20px;
    font-family: var(--primary-font);
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    background-color: var(--nav-button-color);
}

h1 {
    font-size: 40px;
    margin: 40px;
    font-family: var(--primary-font);
}

h2 {
    font-size: 20px;
    margin: 40px;
    font-family: var(--primary-font);
}

p {
    font-size: 15px;
    font-family: var(--primary-font);
    padding: 15px;
}

article {
    text-align: center;
    margin: 5%;
    padding: 50px 5% 50px 5%;
    margin: 70px 10% 50px 10%;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--box-color);
}

article ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    padding: 0;
}

article ul li .social {
    color: var(--text-color);
    background-color: var(--box-color);
    text-decoration: none;
    margin: 15px;
}

article .profile-pic {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

article .showcase {
    width: 40%;
}

article button {
    font-size: 120%;
    color: var(--text-color);
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    border: 0px;
    padding: .5vw;
    font-family: var(--primary-font);
}

article button:hover {
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    cursor: pointer;
}

table, th, td {
    font-size: 12px;
    font-family: var(--primary-font);
    background-color: var(--nav-button-color);
    border-color: var(--back-color);
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin: auto;
    padding: 5px;
}

th {
    width: 25%;
    color: var(--primary-color);
}

table ul {
    display: block;
}

#divider-line {
    width: 80%;
    height: 1px;
    margin: auto;
    background: var(--primary-color);
}

.logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    padding-left: 5px;
}

nav {
    width: 100vw;
    height: var(--header-size);
    background-color: var(--box-color);
    margin: 0;
    position: fixed;
    top: 0;
}

nav ul {
    font-family: var(--primary-font);
    font-size: 20px;
    list-style-type: none;
    display: flex;
    margin: 0;
    /*MAGIC NUMBER DO NOT CHANGE*/
    padding-right: 72px;
    overflow: hidden;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    line-height: var(--header-size);
    color: var(--text-color);
    padding: 30px;
}

header button {
    display: none;
}

header button:hover {
    cursor: pointer;
}

nav a:hover {
    color: var(--secondary-color);
    background-color: var(--nav-button-color);
}

nav a#active {
    color: var(--primary-color);
    background-color: var(--back-color);
}

@media screen and (max-width: 950px) {

    nav {
        height: auto;
        position: fixed;
        inset: 0 0 0 50%;
        background: hsl(0, 0%, 0%, 0.3);
        backdrop-filter: blur(0.25rem);
        padding-top: 25vh;
        text-align: left;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav .logo {
        display: none;
    }

    .navigation {
        position: fixed;
        inset: 0 0 0 70%;
        height: auto;
        transform: translateX(0%);
        transition: transform 100ms ease-out;
    }

    .navigation[data-visible="false"] {
        transform: translateX(100%);
        transition: transform 100ms ease-out;
    }
    
    nav a:hover {
        color: var(--secondary-color);
        background-color: rgba(0, 0, 0, 0);
    }

    nav a#active {
        color: var(--primary-color);
        background-color: rgba(0, 0, 0, 0);
    }

    h1 {
        font-size: 5vw;
        margin: 40px;
        font-family: var(--primary-font);
    }
    
    h2 {
        font-size: 3vw;
        margin: 40px;
        font-family: var(--primary-font);
    }
    
    p {
        font-size: 2vw;
        font-family: var(--primary-font);
        padding: 15px;
    }

    table, th, td {
        font-size: 2vw;
    }

    article .flex-box a {
        display: flex;
        flex-direction: column;
        width: 250%;
        height: auto;
    }

    article .profile-pic {
        width: 40%;
        height: auto;
        border-radius: 50%;
    }

    button[mobile-expanded="false"] {
        .fa-xmark {
            display: none;
        }
        .fa-bars {
            display: block;
        }
    }

    button[mobile-expanded="true"] {
        .fa-xmark {
            display: block;
        }
        .fa-bars {
            display: none;
        }
    }

    .mobile-topnav-toggle {
        background-color: rgba(0, 0, 0, 0);
        display: block;
        border: none;
        position: absolute;
        z-index: 999;
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
}